<div class="container">
  <header>
    <h1>Book Management System</h1>
    <button (click)="handleAddNewButton()" class="add-button">+ Add Book</button>
  </header>

  <main>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>ISBN</th>
          <th>Publication Date</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <h1 *ngIf = "!isResultLoaded">Loading........</h1>
        <tr *ngFor="let BookItem of bookArray">
          <td>{{ BookItem.title }}</td>
          <td>{{ BookItem.author }}</td>
          <td>{{ BookItem.isbn }}</td>
          <td>{{ BookItem.publicationDate }}</td>
          <td class="actions">
            <button class="edit-button">Edit</button>
            <button class="delete-button">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </main>
</div>


